.container_timer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DINCondensed", "Arial Narrow", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #808080;
  font-size: 14.954vh;
  gap: 0.5vw;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 4vw;
  }
}
